body {
  background-color: wheat;
  font-family: 'Open Sans', sans-serif;
  width: 95vw;;
  margin: auto;
  padding: auto;
  padding-top: 30px;
 }
 main {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
 }
 /* Created using Grid Generator */
 .parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 300px;
  grid-row-gap: 0px;
  }
  .div1 {
   grid-area: 1 / 1 / 2 / 2;
   align-self: center;
  }
  .div2 {
   grid-area: 1 / 2 / 2 / 3;
  }
 header {
  font-size: 30px;
  background-color: wheat;
  border: 1x solid black;
  height: 5%;
  text-align: center;
  font-weight: bold;
 }
 #indexText {
  color:rgb(30, 28, 28);
  font-family:'Eczar', serif;
  line-height: 3;
  font-weight:bold;
 }
 #indexText2 {
  color:rgb(30, 28, 28);
  font-family:'Eczar', serif;
  line-height: 3;
  font-weight:bold;
  padding-top: 30px;
 }
 h1 {
  color:coral;
  display:flex;
  justify-content:center;
  padding-bottom: 50px;
  font-family: 'Vollkorn', serif;
  font-size:xxx-large;
 }