/* css sippet from https://codepen.io/tobyonline/pen/XJGbry */
 ::before, ::after {
  box-sizing: border-box;
  font-family: sans-serif;
} 

 body {
   background-color: wheat;
   font-family: 'Open Sans', sans-serif;
   margin: 20px;
   padding: 20px;

 }

 main {
   max-width: 960px;
   margin: 0 auto;
   width: 0 auto;

 }

 header {
   font-size: 30px;
   background-color: wheat;
   border: 1x solid black;
   height: 5%;
   text-align: center;
   font-weight: bold;
 }

 h1 {
   color: green;
 }

 p {
   font-size: 20px;
   /* text-align: center; */
   font-family: 'Merriweather', serif;
   font-weight: lighter;
 }


 nav {
   font-size: 20px;

   background-color: #e6e1e1;
   border: 1px solid black;
   align-items: center;
   margin: 0px;
   padding: 0px;
 }

 nav>img {
   max-width: 20%;
   vertical-align: middle;
   margin-right: 50px;
   margin-left: 50px;

 }

 #page-image {
   width: 100%;
   height: auto;
 }

/* Credit to Sebastian Devassy stackoverflow.com who gave me the framework for story-text & scroll - Ben R */

#story-text {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  width:750px;
  height: 500px;
  font-size:175%;
  color:rgb(39, 35, 35);
  font-weight:bold;
  font-family:'Eczar', serif;
  line-height: 2;
}

#scroll {
  background-image:url("/img/png-image.png");
  background-repeat:no-repeat;
  background-size: 1000px;
  width: 1000px;
  height: 1300px;
  display:flex;
  justify-content: center;
  align-items: center;
}

 #options {
   background-color: rgb(98, 155, 98);
   font-size: 30px;
 }

 #option1 {}

 #option2 {}

 #option-btn {
   /* display: flex;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-top: 20px;
  align-items: center; */
   background-color: green;


}
/* main {
  margin: 0;
  font-family: sans-serif;
}

.section {
  background-color: #252121;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 60%;
margin: 10rem auto 0 auto;
}

.section img {
  height: 250px;
}

.section h1 {
  margin: 0;
  color: greenyellow;
}

.section p {
  color: #c0bdbd;
  margin-right: 15px;

} */

.text {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  width: 150%;
  
  
  
}

.bio  {
  display: flex;
  justify-content: space-between;
  background-color: #d7b2b8;
  width: 100%; 
  height: 300px;
  border: 1px solid black;
  margin-bottom: 40px;
}

.bio article {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: -10px;

}

.bio article h2{
  margin-bottom: -10px;
  font-size: ;
}


#stev article h2{
  margin-bottom: -10px;
  /* display: inline-block; */
}



#yaz {
  text-align: center;
  display: inline-block;
  margin-left: 100 px;
  text-align: center;
  /* border: 5px solid black; */
  border: 1px solid black;
  margin-bottom: 50px;

}

#yaz h2 {
  text-decoration: underline;
  padding: 30px;
  margin: 30px;
  font-size: 60px;

}


#yaz p {
  padding: 5px;
  margin: 10px;
  font-size: 30px;
}

#yaz img {
  max-width: auto;
  height: auto;
  align-items: center;
  width: auto;
  
}

#den {
  background-color: #d7b2b8;
  text-align: center;
 
  margin-left: 100 px;
  text-align: center;
  /* border: 5px solid black; */
  border: 1px solid black;
  margin-bottom: 50px;

}

#den h2 {
  text-decoration: underline;
  padding: 30px;
  margin: 30px;
  font-size: 60px;

}


#den p {
  padding: 5px;
  margin: 10px;
  font-size: 30px;
}

#den img {
  max-width: auto;
  height: auto;
  align-items: center;

}


#ben {
 background-color:#d7b2b8;
 text-align: center;
 display: inline-block;
 margin-left: 100 px;
 text-align: center;
 /* border: 5px solid black; */
 border: 1px solid black;
 margin-bottom: 50px;

}

#ben h2 {
 text-decoration: underline;
 padding: 30px;
 margin: 30px;
 font-size: 60px;
}


#ben p {
 padding: 5px;
 margin: 10px;
 font-size: 30px;
}

#ben img {
 max-width: auto;
 height: auto;
 align-items: center;
}


#steve {
 background-color: #d7b2b8;
 text-align: center;
 display: inline-block;
 margin-left: 100 px;
 text-align: center;
 /* border: 5px solid black; */
 border: 1px solid black;
 margin-bottom: 50px;

}

#steve h2 {
 text-decoration: underline;
 padding: 30px;
 margin: 30px;
 font-size: 60px;
}


#steve p {
 padding: 5px;
 margin: 10px;
 font-size: 30px;
}

#steve img {
 max-width: auto;
 height: auto;
 align-items: center;
}


#marc {
 background-color: #d7b2b8;
 text-align: center;
 display: inline-block;
 margin-left: 100 px;
 text-align: center;
 /* border: 5px solid black; */
 border: 1px solid black;
 margin-bottom: 50px;

}

#marc h2 {
 text-decoration: underline;
 padding: 30px;
 margin: 30px;
 font-size: 60px;
}


#marc p {
 padding: 5px;
 margin: 10px;
 font-size: 30px;
}

#marc img {
 max-width: auto;
 height: auto;
 align-items: center;
}





 .bust {
   background-color: black;
   -webkit-animation-name: animate1;
   /* Chrome, Safari, Opera */
   animation-name: animate1;
   animation-duration: 7s;
   animation-iteration-count: 1;
 }

 /* Chrome, Safari, Opera */
 @-webkit-keyframes animate1 {
   0% {
     background-color: white;
   }

   100% {
     background-color: black;
   }
 }


 
<<<<<<< HEAD
=======
/* Chrome, Safari, Opera */
@-webkit-keyframes animate1 {
    0%   {background-color: white;}
    100% {background-color: black;}
}

#cop-lights-1{

}
>>>>>>> staging
