/* css sippet from https://codepen.io/tobyonline/pen/XJGbry */
 ::before, ::after {
  box-sizing: border-box;
  font-family: sans-serif;
} 

body {
  background-color: wheat;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;

}

main {
  max-width: 960px;
  margin: 0 auto;
  width: 0 auto;
  
}

header {
  list-style: none;
  font-size: 30px;
  background-color: wheat;
  border: 1x solid black;
  height: 5%;
  text-align: center;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: #e6e1e1;
  border: 1px solid black;
  margin: 0px;
  padding: 0px;
  height: 4vw;
}

h1 {
  color: green;
}

p {
  font-size: 20px;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-weight: lighter;
} 


nav {
  font-size: 20px;

  background-color: #e6e1e1;
  border: 1px solid black;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

nav>img {
  max-width: 20%;
  vertical-align: middle;
  margin-right: 50px;
  margin-left: 50px;

}

#page-image {
  width: 100%;
  height: auto;
}

/* Credit to Sebastian Devassy stackoverflow.com who gave me the framework for story-text & scroll - Ben R */

#story-text {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  width:750px;
  height: 500px;
  font-size:175%;
  color:rgb(39, 35, 35);
  font-weight:bold;
  font-family:'Eczar', serif;
  line-height: 2;
}

#scroll {
  background-image:url("/img/png-image.png");
  background-repeat:no-repeat;
  background-size: 1000px;
  width: 1000px;
  height: 1300px;
  display:flex;
  justify-content: center;
  align-items: center;
}

#options {
  background-color: rgb(98, 155, 98);
  font-size: 30px;
}

#option1 {

}

#option2 {

}

#option-btn {
  /* display: flex;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-top: 20px;
  align-items: center; */
background-color: green;


}

.bust {
    background-color: black;
    -webkit-animation-name: animate1; /* Chrome, Safari, Opera */
    animation-name: animate1;
    animation-duration: 7s;
   animation-iteration-count: 1;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes animate1 {
    0%   {background-color: white;}
    100% {background-color: black;}
}

.fade-in {
  /* -webkit-animation-name: fadeIn; */
  /* animation-name: fadeIn; */
  animation-duration: 20s;
  /* animation-delay: 3s; */
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  5% {opacity: .05;}
  15% {opacity: .15;}
  25% {opacity: .25;}
  50% {opacity: .50;}
  65% {opacity: .65;}
  75% {opacity: .75;}
  100% {opacity: 1;}
}

img {
  opacity: 75%;
}
